################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataWrangler/obj/Debug
/DataWrangler/bin/Debug
/packages
