<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" targetFramework="net472" />
  <package id="ILMerge" version="3.0.29" targetFramework="net472" />
  <package id="LiteDB" version="5.0.5" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="MSBuild.ILMerge.Task" version="1.1.3" targetFramework="net472" />
  <package id="PasswordGenerator" version="2.0.5" targetFramework="net472" />
</packages>